@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellota+Text:300,300i,400,400i,700,700i&display=swap&subset=cyrillic');

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: radial-gradient(#977474 5%, transparent 20%),
    radial-gradient(rgb(138, 122, 122) 5%, transparent 20%);
background-color: rgb(247, 247, 247);
background-position: 0 , 0 ,2px 5px;
background-size: 13px 13px;
font-family: 'Bellota Text', 'sans-serif';
    /* margin: 0;
    background-color: whitesmoke; */
}
.nav-main {
    background-image: url('https://mrpizza.bg/img/header-listing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    /* background-color: #42476d; */
}

.heading-navbar {
    background-color: #000;
    opacity: 0.6;
    text-align: left;
    padding: 0.25rem;
}

.order {
    display:inline-block;
    /* position: absolute; */
    /* left:0;
    top:0; */
    padding: 0 2%;
}

.user {
    float: right;
    /* vertical-align:center;    */
    padding: 0 3%;
}

.navigation {
    margin: 0 auto;
    text-align: center;
    padding: 2% 0;
}

ul {
    font-family: 'Roboto' , 'sans-serif';
    text-align: center;
    list-style-type: none;
    letter-spacing: 3px;
}

li {
    display: inline-block;
    padding: 2% 3%;
}

a {
    font-size: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.logo {
    font-family: 'Sofia', 'sans-serif';
    vertical-align: middle;
    font-size: 5.5rem;
}

#second-nav {
 background: #292b4e;   
}

.path {
    color: rgb(250, 41, 145);
    font-size: 3.5rem;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 4% 0 7% 0;
}

.hr {
    color: white;
    padding: 5px;
}